<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500">
    <link rel="stylesheet" href="~/public/index.css">
    <title>@ViewBag.Title</title>
    @if (Model is Piranha.Models.IMeta)
    {
        <partial name="Partial/_Meta.cshtml" />
    }
    @RenderSection("head", required: false)
</head>
<body>
    <header class="site-header">
        <partial name="Partial/_Menu.cshtml" />
    </header>
    @RenderSection("jumbotron", required: false)
    <main class="main">
        @RenderBody()
    </main>
    <footer class="site-footer">
        <partial name="Partial/_Footer.cshtml" />
    </footer>
    <script src="~/public/vendors.js"></script>
    <script src="~/public/index.js"></script>
    @RenderSection("script", required: false)
</body>
</html>