@model LSCargo.Web.Models.Regions.ContactCard
<div class="contact-card">
    <figure class="contact-card__image">
        <img src="@Url.Content(Model.Image)">
    </figure>
    <h3 class="contact-card__name">@Model.Name</h3>
    <dl class="contact-card__details">
        @if (!string.IsNullOrWhiteSpace(Model.Email?.Value))
        {
            <dt>E-post</dt>
            <dd>
                <i class="fal fa-envelope fa-fw"></i>
                <a href="mailto:@Html.Raw(Model.Email)">@Model.Email</a>
            </dd>
        }

        @if (!string.IsNullOrWhiteSpace(Model.Phone?.Value))
        {
            <dt>Telefon</dt>
            <dd>
                <i class="fal fa-mobile fa-fw"></i>
                <a href="tel:@Model.Phone.Value">@Model.Phone</a>
            </dd>
        }
    </dl>

    @if (!string.IsNullOrWhiteSpace(Model.Content?.Value))
    {
        <div class="contact-card__text">
            @Html.Raw(Model.Content)
        </div>
    }
</div>